
<div class="centre-item social-media-list">
  {%- if site.github_username -%}<a class="social-icon" id="github" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fab fa-github-alt fa-2x"></i></a>{%- endif -%}
  {%- if site.linkedin_username -%}<a class="social-icon" id="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fab fa-linkedin-in fa-2x"></i></a>{%- endif -%}
  {%- if site.youtube_username -%}<a class="social-icon" id="youtube" href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><i class="fab fa-youtube fa-2x"></i></a>{%- endif -%}
  {%- if site.twitter_username -%}<a class="social-icon" id="twitter" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fab fa-twitter fa-2x"></i></a>{%- endif -%}
</div>